################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/x64/Debug
/.vs
/Nix/Debug
/Nix/x64/Debug
*.lib
*.pdb
*.tlog
*.obj
*.log
*.txt
/FBXImporter/x64/Debug
*.dll
/Nix/lib/Debug
/x64/Release/Nix.ipdb
/x64/Release/Nix.iobj
/x64/Release/Nix.exe
/x64/Release
