################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/FBXImporter/lib/vs2015
/FBXImporter/x64
/Nix/x64
/NixMath/x64
/x64/Debug
/x64/Release
/Nix/lib/Debug
/DirectXTex/.nuget
/IMGUI/x64/Debug
/IMGUI/x64/Release
/FBXImporter/lib/vs2017
/_Intermediate/x64
*.lib
*.pdb
*.dll
